.loader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader-title {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.recommendations-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    max-width: 640px;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.item-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 0 10px 0 0;
}

.item-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    max-width: 200px;
    width: 200px;
    height: 200px;
    max-height: 200px;
}
